body,
html {
  margin: 0;
  padding: 0;
}

article,
aside,
body,
dd,
dialog,
div,
dl,
dt,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
input,
li,
nav,
ol,
p,
section,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}